/* SearchBar styles added as module. All components style should be this way */
.searchContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.searchBox {
  position: relative;
}

.searchButton {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  height: 100%;
  padding-right: 10px;

  border: none;
  background: none;
}

.searchInput {
  font-size: 1.2rem;
  height: 30px;
  border-radius: 10px;
  padding: 5px 30px 5px 10px;
  border: 1px solid #fd9858;
}

.searchInput:focus,
.searchButton:focus {
  outline: none;
  border: 1px solid #fec09a;
  box-shadow: 0 0 5px #ebbed4;
}
